# Rename this file to secret.yaml and replace the placeholders before deploying
apiVersion: v1
kind: Secret
metadata:
  name: minio-secret
type: Opaque
stringData:
  MINIO_ROOT_USER: <your-username>
  MINIO_ROOT_PASSWORD: <your-password>
