# Rename this file to secret.yaml and replace the placeholders before deploying
apiVersion: v1
kind: Secret
metadata:
  name: consumer-secret
type: Opaque
stringData:
  MINIO_ACCESS_KEY: <your-username>
  MINIO_SECRET_KEY: <your-password>