# Rename this file to secret.yaml and replace the placeholders before deploying
apiVersion: v1
kind: Secret
metadata:
  name: auth-secret
type: Opaque
stringData:
  DB_USER: <your-username>
  DB_PASSWORD: <your-password>
  JWT_SECRET: <your-secret-key>