# Rename this file to secret.yaml and replace the placeholders before deploying
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
type: Opaque
stringData:
  POSTGRES_USER: <your-username>
  POSTGRES_PASSWORD: <your-password>
